<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Blog List</title>
</head>
<body>
    <header>
        <h1>Blog Posts</h1>
        <a href="/blogs/new">Create New Blog</a>
    </header>
    <section>
        <% blogs.forEach(blog => { %>
            <div class="blog-post">
                <h2><%= blog.title %></h2>
                <p><%= blog.content.substring(0, 150) %>...</p>
                <small>Posted on: <%= blog.date.toDateString() %></small>
            </div>
        <% }) %>
    </section>
</body>
</html>
