*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.heading{
  color:#e7b2b9;
  font-size: 28px;
}
.container{
  /* text-align: center; */
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  margin:15px  auto;
  border: 3px solid red;
  background-color: #53536b;
  border-radius: 15px;
  padding: 8px 4px;
  color: #BDE8CA;
}
.container h4{
  margin: 4px 4px;
  font-size: 16px;
}
.score{
  color: rgb(237, 207, 207);
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.choice_buttons{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.choice_buttons button{
  padding: 4px 8px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: rgb(244, 186, 145);
}
.result-container{
  /* border: 1px solid red; */
  width: 80%;
  /* display: flex;
  flex-direction: column; */
  /* margin: 40px; */
}

.result{
  /* border: 1px solid red; */
  margin-bottom: 12px;
  color: #e4f5e9;
  /* margin-right: 40px; */
}
#won{
  height: 50px;
  /* color: rgb(66, 190, 66); */
  /* border: 1px solid red; */
  margin: 4px 10px;
}
#play_again{
  padding: 4px 8px;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  background-color: rgb(238, 191, 191);
  color: rgb(19, 16, 16);
  font-weight: 400;
}
@media(max-width: 600px) {
  .choice_buttons button{
    font-size: 25px;
  }
}